<html>
    <head>
        <title>НОВОСТИ ИВАНОВО</title>
    </head>
    <body>
        <div>
            <h1><a href="/">НОВОСТИ ИВАНОВО</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">ГОРЯЧИЕ</a></h2>
            <p>СКАНДАЛЫ, ИНТРИГИ, РАССЛЕДОВАНИЯ.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">КАК ПИРОЖКИ</a></h2>
            <p>ПОКАЗАТЬ ВСЕ, ЧТО СКРЫТО.</p>
        </div>
    </body>
</html>